.feynman {
  min-height: 790px;
  position: relative;
  padding: 80px 0 0 0;
<<<<<<< HEAD
  background-image: url(../../images/feynman.png);
=======
  background-image: url(../../images/feynman.png);
>>>>>>> 97040207aaaa6c85177010b2cba1caa8c54a96a5
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}
