.feedback__buttons {
  padding: 10px 15px;

  font-weight: bold;

  
  background-color: #2f80ed;
  color: white;
  border: 0;
  border-radius: 15px;
  transition: .2s ease;
}

.feedback__buttons:hover {
  opacity: .8;
}

.feedback__buttons:active {
  box-shadow: inset 1px 1px 1px #1f1f1f;

}
