

/*--------- Block Header ---------*/














/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


/*--------- Block Description ---------*/











/*--------- Block Digits ---------*/













/*--------- Block Feynman ---------*/







/*--------- Block Kaufman ---------*/
/* и элемента с модификатором вида ключ-значение */






.table_theme_dark {
  /* z-index: 1; */
}




/*--------- Block Footer ---------*/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #1f1f1f;
  color: white;
 }

.footer__column {
  min-height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
 }

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
 }

.footer__column_content_info {

 }

.footer__column-heading {
   margin: 0;
   line-height: 30px;
   font-size: 18px;
   font-weight: bold;
}

.footer__column_content_social {
  flex-direction: column;
 }

.footer__column-links {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
 }

.footer__column-link:hover {
  color: rgba(255, 255, 255, 0.431);
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
